<div class="contact-1 js-feedback-page">



    <div class="content-wrapper clearfix">
        <div class="row">
            <div class="col full">
                <h1>ОБРАТНАЯ СВЯЗЬ</h1>
                <form class="js-feedback-form" method="post" data-remote="true" action="/api/web/feedback">
                    <input type="text" name="name" placeholder="ИМЯ" required="required">
                    <input type="email" name="email" placeholder="EMAIL" required="required">
                    <input type="text" name="subject" placeholder="ТЕМА">
                    <textarea name="message" placeholder="СООБЩЕНИЕ" required="required"></textarea>
                    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                    <input type="submit" value="ОТПРАВИТЬ">
                    <p class="message-info js-feedback-message"></p>
                </form>

            </div>
        </div>

    </div>

</div>