<div class="js-gallery-new gallery-new">
  <div class="row">
    <div class="col-lg-12">
      <ol class="breadcrumb">
        <li><span>&nbsp;</span></li>
      </ol>

      <div class="clearfix">
        <h1 class="pull-left">
          <a href="/admin/gallery">Галереи</a>
          <small>Добавить галерею</small>
        </h1>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-12">
      <div class="main-box no-header clearfix">
        <div class="main-box-body clearfix">
          <div class="js-gallery-attach-dropzone">
            <%- partial('./../../admin/shared/attachment_upload.ejs') %>
          </div>
          <form action="/admin/gallery" method="post" class="js-gallery-new-form">
            <input type="hidden" name="_csrf" value="<%= _csrf %>" />
            <input type="hidden" name="coverImg" class="js-gallery-cover-img" />
            <div class="form-group">
              <label for="galleryName">Название</label>
              <input type="text" class="form-control" id="galleryName" name="name" required="required">
            </div>
            <div class="form-group form-group-select2">
              <label>Категории</label>
              <select style="width:300px" name="category" class="js-select2-multi" multiple required="required">
                <% _.each(categories, function(c){%>
                  <option value="<%= c.id%>"><%= c.name%></option>
                <%})%>
              </select>
            </div>
            <button type="submit" class="btn btn-success js-create-new-gallery-button">Создать</button>
            <i class="fa fa-spinner fa-spin js-load-process" style="display: none;"></i>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="errorFilesModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="errorFilesModal" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Что то пошло не так</h4>
        </div>
        <div class="modal-body">
          <p>
            К сожалению не все фотографии смогли загрузиться.
          </p>
          <p>
            Вы можете продолжить создание галлереи без этих фотографий и загрузить их позже. Или отменить создание галереи.
          </p>
          <p>Список незагруженных фотографий:</p>
          <div class="js-gallery-new-error-file-list"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary js-gallery-new-error-continue">Создать галерею</button>
          <button type="button" class="btn btn-danger js-gallery-new-error-cancel">Все пропало, отменяй</button>
        </div>
      </div>
    </div>
  </div>
</div>
