<div class="min-style">
    <div class="content-wrapper clearfix">

        <div class="row">

            <div class="col three-fourth">

                <%- aboutMe.header_body%>

                <div class="row">
                    <div class="col full">

                        <%- aboutMe.body%>

                        <div class="divider" style="height:20px;"></div>

                    </div>
                </div>

                <div class="row">
                    <div class="col full">

                        <%- aboutMe.footer_body%>

                    </div>
                </div>

            </div>

            <img class="personal-img" src="<%= aboutMe.imgUrl%>" alt="">

        </div>




        <div class="clear"></div>

    </div>
</div>