<footer>

  <p class="copyrights">© HAPPSYPHOTO</p>

  <div class="social-networks clearfix">
    <a href="https://vk.com/happsy" target="_blank">
      <span>VKONTAKTE</span>
      <i class="vkontakte-icon icon1-vk"></i>
    </a>
    <a href="https://instagram.com/happsyphoto.ru/" target="_blank">
      <span>INSTAGRAM</span>
      <i class="instagram-icon icon3-instagram"></i>
    </a>
  </div>

</footer>