<header>
  <a href="/" class="logo-container">
    <p>Happsyphoto</p>
  </a>

  <nav>
    <ul>
      <li>
        <a href="/" >ГЛАВНАЯ</a>
      </li>
      <li>
        <a href="#" class="">КАТЕГОРИИ</a>
        <ul>
          <% _.each(Menus, function(menu){%>
          <li><a href="/category/<%= menu.slug%>"><%= menu.name.toUpperCase()%></a></li>
          <%})%>

        </ul>
      </li>
      <li>
        <a href="/about_me">КОНТАКТЫ</a>
      </li>
      <li>
        <a href="/services">УСЛУГИ</a>
      </li>
      <li>
        <a href="/feedback">ОБРАТНАЯ СВЯЗЬ</a>
      </li>
    </ul>
  </nav>

  <a href="#" class="mobile-navigation icon3-list2"></a>
</header>