<div class="wrapper">
  <a href="#" class="common-gallery-nav common-gallery_prev icon4-leftarrow23 js-swiper-prev"></a>
  <a href="#" class="common-gallery-nav common-gallery_next icon4-chevrons js-swiper-next"></a>
  <div class="common-gallery swiper-container js-swiper">
    <div class="common-gallery__wrapper swiper-wrapper">
      <% _.each(favoriteAttachment, function(item){%>
      <div class="common-gallery__item swiper-slide">
        <img class="common-gallery__img swiper-lazy" data-src="<%= item.attachment.imgUrl%>" alt="<%= item.attachment.title%>">
        <div class="swiper-lazy-preloader"></div>
      </div>
      <%})%>
    </div>
  </div>

</div>

