<div class="row">
  <div class="col-lg-12">
    <ol class="breadcrumb">
      <li><span>&nbsp;</span></li>
    </ol>

    <div class="clearfix">
      <h1 class="pull-left">
        <a href="/admin/attachment">Категории</a>
        <small>Добавить категорию</small>
      </h1>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-lg-12">
    <div class="main-box no-header clearfix">
      <div class="main-box-body clearfix">
        <form action="/admin/category" method="post">
          <input type="hidden" name="_csrf" value="<%= _csrf %>" />
          <div class="form-group">
            <label for="categoryName">Название</label>
            <input type="text" class="form-control" id="categoryName" name="name">
          </div>
          <button type="submit" class="btn btn-success">Создать</button>
        </form>
      </div>
    </div>
  </div>
</div>