<div class="like-table-row">
  <div class="like-table-cell">
    <img data-dz-thumbnail/>
  </div>
  <div class="like-table-cell">
    <div data-dz-name></div>
    <strong class="error text-danger" data-dz-errormessage></strong>
    <span class="label label-success dropzone-success js-dropzone-success">Загруженно</span>
  </div>
  <div class="like-table-cell">
    <span data-dz-size></span>
    <div class="progress active">
      <div class="progress-bar progress-bar-success" style="width:0%" data-dz-uploadprogress></div>
    </div>
  </div>
  <div class="like-table-cell">
    <textarea class="form-control js-dropzone-title" name="title" id="" ></textarea>
  </div>
  <div class="like-table-cell">
    <button type="button" class="btn btn-primary js-upload-file">
      <span class="fa fa-download"></span> Загрузить
    </button>
    <button data-dz-remove type="button" class="btn btn-warning js-cancel-file">
      <span class="fa fa-ban"></span> Отменить
    </button>
    <button data-dz-remove type="button" class="btn btn-danger js-delete-file">
      <span class="fa fa-trash-o"></span> Удалить
    </button>
  </div>
</div>
