<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <meta charset="utf-8">

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href='https://fonts.googleapis.com/css?family=Lovers+Quarrel' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Alex+Brush' rel='stylesheet' type='text/css'>

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/web/reset.css">
    <link rel="stylesheet" href="/styles/web/includes/entypo/style.css">
    <link rel="stylesheet" href="/styles/web/includes/icomoon/style.css">
    <link rel="stylesheet" href="/styles/web/includes/font_awesome/font-awesome.css">
    <link rel="stylesheet" href="/styles/web/includes/cosy/style.css">
    <link rel="stylesheet" href="/styles/web/animate.min.css">
    <link rel="stylesheet" href="/styles/web/dependencies/Magnific-Popup/magnific-popup.css">
    <link rel="stylesheet" href="/styles/web/dependencies/custom-scroll/mCustomScrollbar.css">
    <link rel="stylesheet" href="/styles/web/dependencies/flexslider/style.css">
    <link rel="stylesheet" href="/styles/web/dependencies/jquery-ui/jquery-ui-1.10.3.custom.min.css">
    <link rel="stylesheet" href="/styles/web/dependencies/mb.YTPlayer/css/YTPlayer.css">
    <link rel="stylesheet" href="/styles/web/importer.css">
    <link rel="stylesheet" href="/styles/web/light.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- partial('./../../web/shared/header.ejs') %>
    <div class="main-container <%if(hasPadding){%>with-padding<%}%>">
      <%- body %>
    </div>
    <%- partial('./../../web/shared/footer.ejs') %>

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

    <!--SCRIPTS-->
    <script src="/js/web/dependencies/sails.io.js"></script>
    <script src="/js/web/dependencies/jquery-1.11.3.min.js"></script>
    <script src="/js/web/dependencies/jquery-ui/jquery-ui.min.js"></script>
    <script src="/js/admin/dependencies/underscore-min.js"></script>
    <script src="/js/admin/dependencies/backbone-min.js"></script>
    <script src="/js/web/dependencies/Magnific-Popup/magnific-popup.min.js"></script>
    <script src="/js/web/dependencies/appear.js"></script>
    <script src="/js/web/dependencies/backbone-min.js"></script>
    <script src="/js/web/dependencies/custom-scroll/mCustomScrollbar.min.js"></script>
    <script src="/js/web/dependencies/easing.1.3.js"></script>
    <script src="/js/web/dependencies/fitvids.js"></script>
    <script src="/js/web/dependencies/flexslider/flexslider.min.js"></script>
    <script src="/js/web/dependencies/gmap.min.js"></script>
    <script src="/js/web/dependencies/imagesloaded.pkgd.min.js"></script>
    <script src="/js/web/dependencies/isotope.min.js"></script>
    <script src="/js/web/dependencies/jflickrfeed.min.js"></script>
    <script src="/js/web/dependencies/masonry-horizontal.js"></script>
    <script src="/js/web/dependencies/mb.YTPlayer/inc/mb.YTPlayer.js"></script>
    <script src="/js/web/dependencies/migrate-1.2.1.min.js"></script>
    <script src="/js/web/dependencies/modernizr-respond.js"></script>
    <script src="/js/web/dependencies/mousewheel.min.js"></script>
    <script src="/js/web/dependencies/queryloader2.min.js"></script>
    <script src="/js/web/dependencies/rails.js"></script>
    <script src="/js/web/dependencies/scrollTo-min.js"></script>
    <script src="/js/web/dependencies/underscore-min.js"></script>
    <script src="/js/web/app/feedback/feedback_page.js"></script>
    <script src="/js/web/app.js"></script>
    <script src="/js/web/scripts.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
