<div style="margin-bottom: 20px" class="row">
  <div class="col-lg-6">
            <span type="button" class="btn btn-success js-add-dropzone-file">
              <span class="fa fa-plus"></span> Добавить файлы
            </span>
    <button type="button" class="btn btn-primary js-load-all-files">
      <span class="fa fa-download"></span> Загрузить
    </button>
    <button type="button" class="btn btn-warning js-cancel-loading">
      <span class="fa fa-ban"></span> Отменить загрузку
    </button>
  </div>
  <div class="col-lg-5">
    <div class="progress progress-striped active js-total-progress" style="opacity: 0">
      <div class="progress-bar" style="width: 0"></div>
    </div>

  </div>

</div>

<div class="table-responsive">
  <div class="like-table">
    <div class="like-table-thead">
      <div class="like-table-row">
        <div class="like-table-th">Изображение</div>
        <div class="like-table-th">Название</div>
        <div class="like-table-th">Размер</div>
        <div class="like-table-th">Подпись</div>
        <div class="like-table-th">&nbsp;</div>
      </div>
    </div>
    <div class="like-table-tbody js-preview-dropzone"></div>
  </div>
</div>