<div class="services">
  <div class="services__inner">
    <div class="package-list">
      <article class="package-item">
        <div class="package-item__pic">
          <img src="/images/web/services/4.jpg" alt="" class="package-item__img"/>
        </div>
        <div class="package-item__header">
          <div class="package-item__title">Семейная фотосъёмка или Love story</div>
          <div class="package-item__price">7000 руб.</div>
        </div>
        <div class="package-item__content">
          <ul class="package-item__list">
            <li class="package-item__list-item">количество часов 1-2;</li>
            <li class="package-item__list-item">количество фотографий 80-100;</li>
            <li class="package-item__list-item">обработка всех фотографий (коррекция цвета, насыщенности, контрастности, ретушь крупных планов);</li>
            <li class="package-item__list-item">запись фотографий на носитель (диск или флэшку);</li>
            <li class="package-item__list-item">ссылку на файлообменник;</li>
            <li class="package-item__list-item">хранение фотографий в течении года.</li>
          </ul>
        </div>
      </article>

      <article class="package-item">
        <div class="package-item__pic">
          <img src="/images/web/services/2.jpeg" alt="" class="package-item__img"/>
        </div>
        <div class="package-item__header">
          <div class="package-item__title">Фотосъёмка пакет "Мини"</div>
          <div class="package-item__price">20000 руб.</div>
        </div>
        <div class="package-item__content">
          <ul class="package-item__list">
            <li class="package-item__list-item">количество часов 6-8;</li>
            <li class="package-item__list-item">количество фотографий ~600шт;</li>
            <li class="package-item__list-item">обработка всех фотографий (цветокррекция, контраст, кадрирование, ретушь крупных планов);</li>
            <li class="package-item__list-item">запись фотографий на носитель (диск или флэшку);</li>
            <li class="package-item__list-item">помощь в проработке маршрута и консультация по свадебной фотосессии;</li>
            <li class="package-item__list-item">скидка 20% на фотосъемку love story;</li>
            <li class="package-item__list-item">хранение фотографий в течении 1 года;</li>
            <li class="package-item__list-item">сроки изготовления 1-2 месяца;</li>
          </ul>
        </div>
      </article>

      <article class="package-item">
        <div class="package-item__pic">
          <img src="/images/web/services/1.jpeg" alt="" class="package-item__img"/>
        </div>
        <div class="package-item__header">
          <div class="package-item__title">Фотосъёмка пакет "Стандарт"</div>
          <div class="package-item__price">30000 руб.</div>
        </div>

        <div class="package-item__content">
          <ul class="package-item__list">
            <li class="package-item__list-item">количество часов 10-12;</li>
            <li class="package-item__list-item">количество фотографий ~800шт;</li>
            <li class="package-item__list-item">обработка всех фотографий (цветокррекция, контраст, кадрирование, ретушь крупных планов);</li>
            <li class="package-item__list-item">запись материалов на диск или флэш карту (+ ссылка на файлообменник);</li>
            <li class="package-item__list-item">помощь в проработке маршрута и консультация по свадебной фотосессии;</li>
            <li class="package-item__list-item">фотокнига размером 15х15 в подарок;</li>
            <li class="package-item__list-item">скидка 20% на фотосъемку love story;</li>
            <li class="package-item__list-item">хранение фотографий в течении 1 года;</li>
            <li class="package-item__list-item">сроки изготовления 1-2 месяца;</li>
          </ul>
        </div>
      </article>

      <article class="package-item">
        <div class="package-item__pic">
          <img src="/images/web/services/3.jpeg" alt="" class="package-item__img"/>
        </div>
        <div class="package-item__header">
          <div class="package-item__title">Фотосъёмка пакет "Все включено"</div>
          <div class="package-item__price">40000 руб.</div>
        </div>
        <div class="package-item__content">
          <ul class="package-item__list">
            <li class="package-item__list-item">количество часов 14-16;</li>
            <li class="package-item__list-item">количество фотографий ~1000;</li>
            <li class="package-item__list-item">обработка всех фотографий (цветокоррекция, контраст, кадрирование, ретушь крупных планов);</li>
            <li class="package-item__list-item">запись материалов на диск или флэш карту (+ ссылка на файлообменник);</li>
            <li class="package-item__list-item">помощь в проработке маршрута и консультация по свадебной фотосессии;</li>
            <li class="package-item__list-item">фотокнига размером 20х20 в подарок;</li>
            <li class="package-item__list-item">печать 20 фотографий;</li>
            <li class="package-item__list-item">скидка 20% на фотосъемку lovestory;</li>
            <li class="package-item__list-item">хранение фотографий в течении 1 года;</li>
            <li class="package-item__list-item">сроки изготовления 1-2 месяца.</li>
          </ul>
        </div>
      </article>
    </div>
  </div>
</div>
