<!DOCTYPE html>
<html>
<head>
  <title>Admin happsy</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="token" content="<%= _csrf %>"/>

  <link href='http://fonts.googleapis.com/css?family=Titillium+Web:200,200italic,300,300italic,400,400italic,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700&subset=cyrillic-ext,latin' rel='stylesheet' type='text/css'>

  <!--STYLES ADMIN-->
  <link rel="stylesheet" href="/min/productionAdmin.min.css">
  <!--STYLES ADMIN END-->
</head>

<body>
<%- partial('./../../admin/shared/header.ejs') %>
<div id="page-wrapper" class="container">
  <div class="row">
    <%- partial('./../../admin/shared/navbar.ejs') %>
    <div id="content-wrapper">
      <div class="row">
        <div class="col-lg-12">
          <%- body %>
        </div>
      </div>
    </div>
  </div>
</div>



<!--TEMPLATES ADMIN-->
<script type="text/javascript" src="/jstAdmin.js"></script>
<!--TEMPLATES ADMIN END-->


<!--SCRIPTS ADMIN-->
<script src="/min/productionAdmin.min.js"></script>
<!--SCRIPTS ADMIN END-->
</body>
</html>
