<!DOCTYPE html>
<html>
<head>
  <title>Admin happsy</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="token" content="<%= _csrf %>"/>

  <link href='http://fonts.googleapis.com/css?family=Titillium+Web:200,200italic,300,300italic,400,400italic,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700&subset=cyrillic-ext,latin' rel='stylesheet' type='text/css'>

  <!--STYLES ADMIN-->
  <link rel="stylesheet" href="/styles/admin/bootstrap/bootstrap.css">
  <link rel="stylesheet" href="/styles/admin/libs/font-awesome.css">
  <link rel="stylesheet" href="/styles/admin/libs/nanoscroller.css">
  <link rel="stylesheet" href="/styles/admin/compiled/layout.css">
  <link rel="stylesheet" href="/styles/admin/compiled/elements.css">
  <link rel="stylesheet" href="/styles/admin/compiled/calendar.css">
  <link rel="stylesheet" href="/styles/admin/compiled/wizard.css">
  <link rel="stylesheet" href="/styles/admin/importer.css">
  <link rel="stylesheet" href="/styles/admin/libs/bootstrap-timepicker.min.css">
  <link rel="stylesheet" href="/styles/admin/libs/bootstrap-wizard.css">
  <link rel="stylesheet" href="/styles/admin/libs/datepicker.css">
  <link rel="stylesheet" href="/styles/admin/libs/daterangepicker.css">
  <link rel="stylesheet" href="/styles/admin/libs/dropzone.css">
  <link rel="stylesheet" href="/styles/admin/libs/fullcalendar.css">
  <link rel="stylesheet" href="/styles/admin/libs/fullcalendar.print.css">
  <link rel="stylesheet" href="/styles/admin/libs/jquery-jvectormap-1.1.1.css">
  <link rel="stylesheet" href="/styles/admin/libs/jquery-jvectormap-1.2.2.css">
  <link rel="stylesheet" href="/styles/admin/libs/jquery-ui.custom_ZATIAL_SA_NEPOUZIVA.css">
  <link rel="stylesheet" href="/styles/admin/libs/jquery.nouislider.css">
  <link rel="stylesheet" href="/styles/admin/libs/magnific-popup.css">
  <link rel="stylesheet" href="/styles/admin/libs/morris.css">
  <link rel="stylesheet" href="/styles/admin/libs/select2.css">
  <link rel="stylesheet" href="/styles/admin/libs/xcharts.css">
  <!--STYLES ADMIN END-->
</head>

<body>
<%- partial('./../../admin/shared/header.ejs') %>
<div id="page-wrapper" class="container">
  <div class="row">
    <%- partial('./../../admin/shared/navbar.ejs') %>
    <div id="content-wrapper">
      <div class="row">
        <div class="col-lg-12">
          <%- body %>
        </div>
      </div>
    </div>
  </div>
</div>



<!--TEMPLATES ADMIN-->
<script type="text/javascript" src="/jstAdmin.js"></script>
<!--TEMPLATES ADMIN END-->


<!--SCRIPTS ADMIN-->
<script src="/js/admin/dependencies/jquery.js"></script>
<script src="/js/admin/dependencies/bootstrap.js"></script>
<script src="/js/admin/dependencies/underscore-min.js"></script>
<script src="/js/admin/dependencies/backbone-min.js"></script>
<script src="/js/admin/dependencies/ckeditor/ckeditor.js"></script>
<script src="/js/admin/dependencies/ckeditor/config.js"></script>
<script src="/js/admin/dependencies/ckeditor/lang/ru.js"></script>
<script src="/js/admin/dependencies/ckeditor/styles.js"></script>
<script src="/js/admin/dependencies/dropzone.js"></script>
<script src="/js/admin/dependencies/jquery-ui.custom.js"></script>
<script src="/js/admin/dependencies/jquery.lazyload.min.js"></script>
<script src="/js/admin/dependencies/jquery.nanoscroller.min.js"></script>
<script src="/js/admin/dependencies/select2.js"></script>
<script src="/js/admin/boot.js"></script>
<script src="/js/admin/models/Attachment.js"></script>
<script src="/js/admin/models/FavoriteAttachment.js"></script>
<script src="/js/admin/app/about_me/aboutMePage.js"></script>
<script src="/js/admin/app/attachment/attachment_page_view.js"></script>
<script src="/js/admin/app/attachment/attachment_upload.js"></script>
<script src="/js/admin/app/category/category_page_view.js"></script>
<script src="/js/admin/app/gallery/error_files_list/gallery_item_view.js"></script>
<script src="/js/admin/app/gallery/error_files_list/gallery_list_view.js"></script>
<script src="/js/admin/app/gallery/gallery_attachment_upload.js"></script>
<script src="/js/admin/app/gallery/gallery_edit.js"></script>
<script src="/js/admin/app/gallery/gallery_new.js"></script>
<script src="/js/admin/app/gallery/gallery_page_view.js"></script>
<script src="/js/admin/app/welcome/favorite.js"></script>
<script src="/js/admin/app/welcome/favorite_item.js"></script>
<script src="/js/admin/app/welcome/welcome_page_view.js"></script>
<script src="/js/admin/app.js"></script>
<script src="/js/admin/scripts.js"></script>
<!--SCRIPTS ADMIN END-->
</body>
</html>
